# Compiled Object files
*.slo
*.lo
*.o

# Compiled binaries
throf/throf

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual SlickEdit intermediate files
*.vp*
*.vtg

# Visual Studio intermediate files
*.*sdf
*.*log
*.suo
*.pdb
*.obj
*.vcxproj.user
Debug
ipch